.rowContainer {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  background-color: #e5e7eb;
}

.cardContainer {
  width: 100%;
  background-color: #f3f4f6;
  box-shadow: 20px 5px 30px rgba(0, 0, 0, 0.4);
  border: 1px solid #e5e7eb;
}
