---
import QrGenApp from "../qr-code-app/app/qr-gen-app.tsx";
---

<main
  class="flex flex-col bg-gradient-to-br from-blue-50 to-slate-100 overflow-hidden min-h-screen"
>
  <div class="flex-1 overflow-y-auto bg-slate-50 p-8">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 max-w-6xl mx-auto">
      <QrGenApp client:load />
    </div>
  </div>
</main>
